<div ng-controller="SidebarController as vm">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="navbar-header">
            <a href="/" class="navbar-brand"><span class="brand-title">PayDoc</span></a>
            <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <div class="pull-right navbar-logo">
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="/signup" ng-if="!vm.isAuthenticated">
                            Créer mon compte
                        </a>
                        <a ng-if="vm.isAuthenticated">{{vm.currentName}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
