<section class="mainbar">
    <section class="matter">
        <div class="container">
          <div class="inner-addon right-addon" ng-hide="editable">
            <i class="glyphicon glyphicon-search"></i>
            <input type="text" ng-model="selected" typeahead="patient.name for patient in patients | filter:$viewValue | limitTo:8" typeahead-on-select="onSelect($item)" class="form-control" placeholder="Rechercher un patient" autofocus="true">
          </div>
          <br />
          <br />
          <div class="row">
              <div class="col-md-6" ng-if="patient.name">
                <div ng-hide="editable">
                  <h3>{{patient.name}}<button class=" btn btn-lg label label-default" ng-click="switchEditable()">Editer</button></h3>
                  <p>{{patient.mobilePhone}} - {{patient.phone}}</p>
                  <p>{{patient.address}}</p>
                  <p>{{patient.email}}</p>
                </div>
                <div ng-show="editable">
                  <div class="form-group">
                      <input type="text" name="firstName" ng-model="patient.firstName" class="form-control">
                  </div>

                  <div class="form-group">
                      <input type="text" name="lastName" ng-model="patient.lastName" class="form-control">
                  </div>

                  <div class="form-group">
                      <input type="email" name="email" ng-model="patient.email" class="form-control">
                  </div>

                  <div class="form-group">
                      <input type="text" name="mobilePhone" ng-model="patient.mobilePhone" class="form-control">
                  </div>

                  <div class="form-group">
                      <input type="text" name="phone" ng-model="patient.phone" class="form-control">
                  </div>

                  <div class="form-group">
                      <input type="text" name="address" ng-model="patient.address" class="form-control">
                  </div>

                  <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                    <button type="button" class="btn btn-default" ng-click="updatePatient(patient.id, patient)">Mettre à jour</button>
                    <button type="button" class="btn btn-default" ng-click="switchEditable()">Annuler</button>
                  </div>
                </div>
              </div>
              <div class="col-md-6" ng-if="patient">
                  <ul>
                    <li ng-repeat="appoint in appointments">
                      <h3>{{appoint.start | date: 'dd/MM/yyyy H:mm'}} - {{appoint.end | date: 'H:mm'}}</h3>
                      <p>{{appoint.notes}}</p>
                    </li>
                  </ul>
              </div>
          </div>
        </div>
    </section>
</section>
