<style>.modal-dialog{width:50%;}</style>
<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h3 class="modal-title">Rendez-vous du {{event.start | date: 'dd/MM/yyyy H:mm'}} - {{event.end | date: 'H:mm'}}</h3>

</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class=" col-md-9 col-lg-9 ">
                <table class="table table-user-information" ng-hide="editable">
                    <tbody>
                      <tr>
                        <td>Nom - Prénom</td>
                        <td>{{event.patient.name}}</td>
                      </tr>
                      <tr>
                        <td>Adresse</td>
                        <td>{{event.patient.address || 'Non-défini'}}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{event.patient.email}}">{{event.patient.email}}</a></td  >
                      </tr>
                      <tr>
                        <td>Numéro de téléphone</td>
                        <td>{{event.patient.phone || 'Non-défini'}} (Fixe)<br><br>{{event.patient.mobilePhone || 'Non-défini'}} (Mobile)  </td>
                      </tr>
                      <tr ng-show="event.patient.dateOfBirth">
                        <td>Date de naissance</td>
                        <td>{{event.patient.dateOfBirth | date: "dd/MM/yyyy"}}</td>
                      </tr>
                      <tr>
                        <td>Le patient est arrivé ?</td>
                        <td><input type="checkbox" ng-model="event.happened" ng-change="isHappened(event.id, event.happened)"></td>
                      </tr>
                      <tr>
                        <td>Notes</td>
                        <td><p>{{event.notes}}</p></td>
                      </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" ng-hide="state == 'approved'" ng-click="confirm()">Confirmer le rendez-vous</button>
                <div ng-show="editable">
                  <form name="patientForm" style="margin-left: 0px;" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : patientForm.firstName.$invalid && !patientForm.firstName.$pristine }">
                        <input type="text" name="firstName" ng-model="patient.firstName" class="form-control" placeholder="Prénom *" required>
                        <p ng-show="patientForm.firstName.$invalid && !patientForm.firstName.$pristine" class="help-block">Le prénom est obligatoire.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : patientForm.lastName.$invalid && !patientForm.lastName.$pristine }">
                        <input type="text" name="lastName" ng-model="patient.lastName" class="form-control" placeholder="Nom de famille *" required>
                        <p ng-show="patientForm.lastName.$invalid && !patientForm.lastName.$pristine" class="help-block">Le nom de famille est obligatoire.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : patientForm.email.$invalid && !patientForm.email.$pristine }">
                        <input type="email" name="email" ng-model="patient.email" class="form-control" placeholder="Email *">
                        <p ng-show="patientForm.email.$invalid && !patientForm.email.$pristine" class="help-block">Ceci ne correspond pas à une adresse email valide.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : patientForm.mobilePhone.$invalid && !patientForm.mobilePhone.$pristine }">
                        <input type="text" name="mobilePhone" ng-model="patient.mobilePhone" class="form-control" placeholder="Numéro de téléphone mobile *" pattern="^(06|07)[0-9]{8}$">
                        <p ng-show="patientForm.mobilePhone.$invalid && !patientForm.mobilePhone.$pristine" class="help-block">Ceci ne correspond pas à un numéro de mobile valide.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : patientForm.phone.$invalid && !patientForm.phone.$pristine }">
                        <input type="text" name="phone" ng-model="patient.phone" class="form-control" placeholder="Numéro de téléphone fixe" pattern="^(01|02|03|04|05|08|09)[0-9]{8}$">
                        <p ng-show="patientForm.phone.$invalid && !patientForm.phone.$pristine" class="help-block">Ceci ne correspond pas à un numéro de fixe valide.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : patientForm.dateOfBirth.$invalid && !patientForm.dateOfBirth.$pristine }">
                        <input type="date" name="dateOfBirth" ng-model="patient.dateOfBirth" class="form-control" placeholder="Date de naissance *">
                        <p ng-show="patientForm.dateOfBirth.$invalid && !patientForm.dateOfBirth.$pristine" class="help-block">Ceci ne correspond pas à une date de naissance valide.</p>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : patientForm.address.$invalid && !patientForm.address.$pristine }">
                        <input type="text" name="address" ng-model="patient.address" class="form-control" placeholder="Adresse">
                        <p ng-show="patientForm.address.$invalid && !patientForm.address.$pristine" class="help-block">Ceci ne correspond pas à une adresse valide.</p>
                    </div>
                    <label>
                        <input type="checkbox" ng-model="patient.receiveBroadcast"> Possibilité d'avancer ce rendez-vous.
                    </label>
                  </form>

                  <div class="btn-group btn-group-lg" role="group" style="margin-left: 0px;" aria-label="Large button group">
                    <button type="button" class="btn btn-default" ng-disabled="patientForm.$invalid" ng-click="updatePatient(patient.id, patient)">Mettre à jour la fiche</button>
                    <button type="button" class="btn btn-default" ng-click="switchEditable()">Annuler</button>
                  </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-hide="editable" ng-click="switchEditable()">Editer la fiche</button>
    <button class="btn btn-primary" ng-click="cancel()">Fermer</button>
</div>
