<style>.modal-dialog{width:50%;}</style>
<!-- Modal -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h3 class="modal-title">Ajouter le rendez-vous du {{start | date: 'dd/MM/yyyy H:mm'}} - {{end | date: 'H:mm'}}</h3>

</div>
<div class="modal-body">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <input type="text" ng-if="searchInput" ng-model="selected" typeahead="patient.namebirth for patient in patients | filter:$viewValue | limitTo:8" typeahead-on-select="onSelect($item)" class="form-control" placeholder="Rechercher un patient" autofocus="true">
            </div>
            <div class="col-md-3">
                <button class="btn btn-lg btn-primary" ng-click="addPatientButtonClick()"><span class="glyphicon glyphicon-user"></span> Ajouter un patient</button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-lg btn-primary" ng-click="broadcast()"><span class="glyphicon glyphicon-calendar"></span> Proposer le rendez-vous</button>
            </div>
        </div>
        <div class="row">
            <form name="newPatientForm" ng-if="addPatientButton" novalidate>
                <div class="form-group">
                    <input type="text" name="firstName" ng-model="newPatient.firstName" class="form-control" placeholder="Prénom *" required>
                </div>

                <div class="form-group">
                    <input type="text" name="lastName" ng-model="newPatient.lastName" class="form-control" placeholder="Nom de famille *" required>
                </div>

                <div class="form-group">
                    <input type="email" name="email" ng-model="newPatient.email" class="form-control" placeholder="Email *">
                </div>

                <div class="form-group">
                    <input type="text" name="mobilePhone" ng-model="newPatient.mobilePhone" class="form-control" placeholder="Numéro de téléphone mobile *">
                </div>

                <div class="form-group">
                    <input type="text" name="phone" ng-model="newPatient.phone" class="form-control" placeholder="Numéro de téléphone fixe">
                </div>

                <div class="form-group">
                    <input type="date" name="dateOfBirth" ng-model="newPatient.dateOfBirth" class="form-control" placeholder="Date de naissance *">
                </div>

                <div class="form-group">
                    <input type="text" name="address" ng-model="newPatient.address" class="form-control" placeholder="Adresse">
                </div>

                <div class="form-group">
                    <textarea class="form-control" name="notes" ng-model="notes.message" rows="4" placeholder="Notes"></textarea>
                </div>
                <p ng-show="newPatientForm.accept.$invalid && !newPatientForm.accept.$pristine" class="help-block">Les champs nom et prénom sont obligatoires.</p>
            </form>
            <div class="col-md-12" ng-if="patient">
              <div ng-hide="editable">
                <h3>{{patient.name}}<button class=" btn btn-lg label label-default" ng-click="switchEditable()">Editer</button></h3>
                <p>{{patient.mobilePhone}} - {{patient.phone}}</p>
                <p>{{patient.address}}</p>
                <p>{{patient.email}}</p>
              </div>
              <div ng-show="editable">
                <div class="form-group">
                    <input type="text" name="firstName" ng-model="patient.firstName" class="form-control" placeholder="Prénom *">
                </div>

                <div class="form-group">
                    <input type="text" name="lastName" ng-model="patient.lastName" class="form-control" placeholder="Nom de famille *">
                </div>

                <div class="form-group">
                    <input type="email" name="email" ng-model="patient.email" class="form-control" placeholder="Email *">
                </div>

                <div class="form-group">
                    <input type="text" name="mobilePhone" ng-model="patient.mobilePhone" class="form-control" placeholder="Numéro de téléphone mobile *">
                </div>

                <div class="form-group">
                    <input type="text" name="phone" ng-model="patient.phone" class="form-control" placeholder="Numéro de téléphone fixe">
                </div>

                <div class="form-group">
                    <input type="date" name="dateOfBirth" ng-model="patient.dateOfBirth" class="form-control" placeholder="Date de naissance *">
                </div>

                <div class="form-group">
                    <input type="text" name="address" ng-model="patient.address" class="form-control" placeholder="Adresse">
                </div>

                <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                  <button type="button" class="btn btn-default" ng-click="updatePatient(patient.id, patient)">Mettre à jour</button>
                  <button type="button" class="btn btn-default" ng-click="switchEditable()">Annuler</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="newPatientForm.$invalid" ng-click="ok()">Ajouter le rendez-vous</button>
</div>
