<div class="panel panel-default">
    <div class="panel-body">
        <form name="payForm" novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="accept" ng-model="acceptConditions" required>
                            J'accepte les <a target="_blank" href="http://paydoc.fr/conditions.html"><strong>conditions d'annulation</strong></a>. *
                        </label>
                    </div>
                    <p ng-show="payForm.accept.$invalid && !payForm.accept.$pristine" class="help-block">Vous devez accepter les conditions.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success btn-lg btn-block" type="submit" ng-disabled="payForm.$invalid" ng-click="ok()">VALIDER</button>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">
                <p>* Pas de frais pour toute annulation au moins 48h à l'avance.</p>
            </div>
        </div>
    </div>
</div>
