<section class="mainbar">
    <section class="matter">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <button type='button' class='btn btn-default button-previous' name='previous' ng-click="vm.getPreviousAppointments()">Précédant</button>
            </div>
            <div class="col-md-4">
              <h2 style="text-align: center;">{{vm.dateStart.format('LL', 'fr')}}</h2>
            </div>
            <div class="col-md-4">
  			      <button type='button' class='btn btn-default button-next' name='next' ng-click="vm.getNextAppointments()" style="float: right;">Suivant</button>
  		      </div>
          </div>

          <table class="table table-hover">
            <tr>
              <th>Patient</th>
              <th>Heure début</th>
              <th>Actions</th>
            </tr>
            <tr ng-repeat="appointment in vm.appointments">
              <td>{{appointment.patient.name}}</td>
              <td>{{appointment.start}}</td>
              <td>
                <button type="button" class="btn btn-warning" ng-click="vm.remindAppointment(appointment)">Relancer une demande de confirmation</button>
                <button type="button" class="btn btn-danger" ng-click="vm.cancelAppointment(appointment.id)">Annuler le rendez-vous</button>
              </td>
            </tr>
          </table>
          <h4 ng-if="vm.appointments.length == 0">Aucun rendez-vous non-confirmé ce jour.</h4>
        </div>
    </section>
</section>
