<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input type="text" ng-model="selected" typeahead="patient.name for patient in vm.patients | filter:$viewValue | limitTo:8" typeahead-on-select="vm.onSelect($item)" class="form-control" placeholder="Rechercher un patient" autofocus="true">
                    </div>
                    <div class="panel-body">
                        <div ng-if="vm.patient">
                            <h3>{{vm.patient.name}}</h3>
                            <p>{{vm.patient.phone}}</p>
                            <p>{{vm.patient.address}}</p>
                            <p>{{vm.patient.email}}</p>
                            <datetimepicker hour-step="1" minute-step="15" ng-model="vm.dt" show-meridian="false" date-format="dd/MM/yyyy" date-options="vm.dateOptions" min-date="vm.minDate" date-disabled="vm.disabled(date, mode)"></datetimepicker>
                            <br />
                            <button type="button" class="btn btn-large btn-primary" ng-click="vm.addAppointment(vm.patient.id)">Ajouter un rendez-vous</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Diffuser un rendez-vous</h3>
                    </div>
                    <div class="panel-body">
                        <datetimepicker show-weeks="true" hour-step="1" minute-step="15" ng-model="date" show-meridian="false" date-format="dd/MM/yyyy"></datetimepicker>
                        <button type="button" class="btn btn-large btn-primary" ng-click="">Diffuser le rendez-vous</i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 100px">
            <h1>Mes rendez-vous</h1>
            <div ng-repeat="appointment in vm.appointments">
                <span ng-switch="$index % 4">
                  <div class="row" ng-switch-when="0">
                      <div class="col-sm-3" ng-if="vm.appointments[$index+0]">
                          <a type="button" class="close-thumb" ng-really-click="vm.cancelAppointment(vm.appointments[$index+0].id)">&times;</a>
                          <div class="thumbnail">
                              <div class="caption">
                                  <h3>{{vm.appointments[$index+0].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                                  <address>
                                      <strong>{{vm.appointments[$index+0].patient.name}}</strong><br>
                                      <abbr title="Phone">P:</abbr> {{vm.appointments[$index+0].patient.phone}}
                                  </address>
                                  <p ng-if="vm.appointments[$index+0].validated" style="color: #008000">Validé</p>
                                  <p ng-if="!vm.appointments[$index+0].validated" style="color: red">Non Validé</p>
                                  <p ng-if="vm.appointments[$index+0].cancelled" style="color: red">Annulé !</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3" ng-if="vm.appointments[$index+1]">
                          <a type="button" class="close-thumb" ng-really-click="vm.cancelAppointment(vm.appointments[$index+1].id)">&times;</a>
                          <div class="thumbnail">
                              <div class="caption">
                                  <h3>{{vm.appointments[$index+1].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                                  <address>
                                      <strong>{{vm.appointments[$index+1].patient.name}}</strong><br>
                                      <abbr title="Phone">P:</abbr> {{vm.appointments[$index+1].patient.phone}}
                                  </address>
                                  <p ng-if="vm.appointments[$index+1].validated" style="color: #008000">Validé</p>
                                  <p ng-if="!vm.appointments[$index+1].validated" style="color: red">Non Validé</p>
                                  <p ng-if="vm.appointments[$index+1].cancelled" style="color: red">Annulé !</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3" ng-if="vm.appointments[$index+2]">
                          <a type="button" class="close-thumb" ng-really-click="vm.cancelAppointment(vm.appointments[$index+2].id)">&times;</a>
                          <div class="thumbnail">
                              <div class="caption">
                                  <h3>{{vm.appointments[$index+2].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                                  <address>
                                      <strong>{{vm.appointments[$index+2].patient.name}}</strong><br>
                                      <abbr title="Phone">P:</abbr> {{vm.appointments[$index+2].patient.phone}}
                                  </address>
                                  <p ng-if="vm.appointments[$index+2].validated" style="color: #008000">Validé</p>
                                  <p ng-if="!vm.appointments[$index+2].validated" style="color: red">Non Validé</p>
                                  <p ng-if="vm.appointments[$index+2].cancelled" style="color: red">Annulé !</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3" ng-if="vm.appointments[$index+3]">
                          <a type="button" class="close-thumb" ng-really-click="vm.cancelAppointment(vm.appointments[$index+3].id)">&times;</a>
                          <div class="thumbnail">
                              <div class="caption">
                                  <h3>{{vm.appointments[$index+3].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                                  <address>
                                      <strong>{{vm.appointments[$index+3].patient.name}}</strong><br>
                                      <abbr title="Phone">P:</abbr> {{vm.appointments[$index+3].patient.phone}}
                                  </address>
                                  <p ng-if="vm.appointments[$index+3].validated" style="color: #008000">Validé</p>
                                  <p ng-if="!vm.appointments[$index+3].validated" style="color: red">Non Validé</p>
                                  <p ng-if="vm.appointments[$index+3].cancelled" style="color: red">Annulé !</p>
                              </div>
                          </div>
                      </div>
                  </div>
                </span>
            </div>
        </div>
        <div class="container">
            <a class="btn btn-primary btn-lg" href="/signup" role="button">Ajouter un patient</a>
        </div>
    </section>
</section>
