<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input type="text" ng-model="vm.selected" typeahead="patient.name for patient in vm.patients | filter:$viewValue | limitTo:8" typeahead-on-select="vm.onSelect($item)" class="form-control" placeholder="Rechercher un patient" autofocus="true">
                        <a class="btn btn-primary btn-lg" href="/signup" role="button">Créer un compte patient</a>
                    </div>
                    <div class="panel-body">
                        <div ng-if="vm.patient">
                            <h3>{{vm.patient.name}}</h3>
                            <p>{{vm.patient.phone}}</p>
                            <p>{{vm.patient.address}}</p>
                            <p>{{vm.patient.email}}</p>
                            <datetimepicker hour-step="1" minute-step="5" ng-model="vm.dt" show-meridian="false" date-format="dd/MM/yyyy" date-options="vm.dateOptions" min-date="vm.minDate" date-disabled="vm.disabled(date, mode)"></datetimepicker>
                            <br />
                            <button type="button" class="btn btn-large btn-primary" ng-click="vm.addAppointment(vm.patient.id)">Ajouter un rendez-vous</i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Proposer un rendez-vous</h3>
                    </div>
                    <div class="panel-body">
                        <datetimepicker show-weeks="true" hour-step="1" minute-step="5" ng-model="vm.date" show-meridian="false" date-format="dd/MM/yyyy" date-options="vm.dateOptions" min-date="vm.minDate" date-disabled="vm.disabled(date, mode)"></datetimepicker>
                        <button type="button" class="btn btn-large btn-primary" ng-click="vm.broadcastAppointment()">Envoyer</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin-top: 100px">
            <h1>Mes rendez-vous</h1>
            <div ng-repeat="appointment in vm.appointments">
                <span ng-switch="$index % 4">
                  <div class="row" ng-switch-when="0">
                      <div class="col-sm-3" ng-if="vm.appointments[$index+0]">
                          <a type="button" class="close-thumb" ng-if="vm.appointments[$index+0].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.appointments[$index+0].id)">&times;</a>
                          <div class="thumbnail">
                              <div class="caption">
                                  <h3>{{vm.appointments[$index+0].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                                  <address>
                                      <strong>{{vm.appointments[$index+0].patient.name}}</strong><br>
                                      <abbr title="Phone">P:</abbr> {{vm.appointments[$index+0].patient.phone}}
                                  </address>
                                  <div ng-switch="vm.appointments[$index+0].state">
                                      <div class="alert alert-warning" ng-switch-when="pending">RENDEZ-VOUS NON CONFIRMÉ</div>
                                      <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                      <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                                  </div>
                                  <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+0].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+0].id)">ANNULER RENDEZ-VOUS ?</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3" ng-if="vm.appointments[$index+1]">
                          <a type="button" class="close-thumb" ng-if="vm.appointments[$index+1].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.appointments[$index+1].id)">&times;</a>
                          <div class="thumbnail">
                              <div class="caption">
                                  <h3>{{vm.appointments[$index+1].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                                  <address>
                                      <strong>{{vm.appointments[$index+1].patient.name}}</strong><br>
                                      <abbr title="Phone">P:</abbr> {{vm.appointments[$index+1].patient.phone}}
                                  </address>
                                  <div ng-switch="vm.appointments[$index+1].state">
                                      <div class="alert alert-warning" ng-switch-when="pending">RENDEZ-VOUS NON CONFIRMÉ</div>
                                      <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                      <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                                  </div>
                                  <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+1].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+1].id)">ANNULER RENDEZ-VOUS ?</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3" ng-if="vm.appointments[$index+2]">
                          <a type="button" class="close-thumb" ng-if="vm.appointments[$index+2].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.appointments[$index+2].id)">&times;</a>
                          <div class="thumbnail">
                              <div class="caption">
                                  <h3>{{vm.appointments[$index+2].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                                  <address>
                                      <strong>{{vm.appointments[$index+2].patient.name}}</strong><br>
                                      <abbr title="Phone">P:</abbr> {{vm.appointments[$index+2].patient.phone}}
                                  </address>
                                  <div ng-switch="vm.appointments[$index+2].state">
                                      <div class="alert alert-warning" ng-switch-when="pending">RENDEZ-VOUS NON CONFIRMÉ</div>
                                      <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                      <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                                  </div>
                                  <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+2].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+2].id)">ANNULER RENDEZ-VOUS ?</button>
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-3" ng-if="vm.appointments[$index+3]">
                          <a type="button" class="close-thumb" ng-if="vm.appointments[$index+3].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.appointments[$index+3].id)">&times;</a>
                          <div class="thumbnail">
                              <div class="caption">
                                  <h3>{{vm.appointments[$index+3].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                                  <address>
                                      <strong>{{vm.appointments[$index+3].patient.name}}</strong><br>
                                      <abbr title="Phone">P:</abbr> {{vm.appointments[$index+3].patient.phone}}
                                  </address>
                                  <div ng-switch="vm.appointments[$index+3].state">
                                      <div class="alert alert-warning" ng-switch-when="pending">RENDEZ-VOUS NON CONFIRMÉ</div>
                                      <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                      <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                                  </div>
                                  <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+3].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+3].id)">ANNULER RENDEZ-VOUS ?</button>
                              </div>
                          </div>
                      </div>
                  </div>
                </span>
            </div>
        </div>

        <div class="container" style="margin-top: 100px">
            <h1>Mes rendez-vous proposés</h1>
            <ul>
                <li ng-repeat="history in vm.historyAppointments">{{history.startDate | date: 'd/MM/yyyy à h:m'}}</li>
            </ul>
        </div>
    </section>
</section>
