<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-icon">
                            <span class="fa fa-4x fa-sign-in"></span>
                        </div>
                        <div class="info">
                            <h4 class="text-center">Mon profil</h4>

                            <form class="form" name="form" >

                                <div class="form-group">
                                    <input type="text" name="firstName" ng-model="vm.user.firstName" class="form-control" placeholder="Prénom">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="name" ng-model="vm.user.lastName" class="form-control" placeholder="Nom de famille">
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" ng-model="vm.user.email" class="form-control" placeholder="Email">
                                </div>

                                <div class="form-group">
                                    <input type="tel" name="phone" ng-model="vm.user.mobilePhone" class="form-control" placeholder="Numéro de téléphone mobile">
                                </div>

                                <div class="form-group">
                                    <input type="tel" name="phone" ng-model="vm.user.phone" class="form-control" placeholder="Numéro de téléphone">
                                </div>

                                <div class="form-group" ng-if="vm.isPatient">
                                    <input type="date" name="dateOfBirth" ng-model="vm.user.dateOfBirth" class="form-control" placeholder="Date de naissance">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="address" ng-model="vm.user.address" class="form-control" placeholder="Adresse">
                                </div>

                                <div class="form-group" ng-if="vm.isDoctor">
                                    <select class="form-control" ng-model="vm.user.consultTime">
                                        <option value="5">5 mn / consultation</option>
                                        <option value="10">10 mn / consultation</option>
                                        <option value="15">15 mn / consultation</option>
                                        <option value="20">20 mn / consultation</option>
                                        <option value="30">30 mn / consultation</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="password" name="password" ng-model="vm.user.password" class="form-control" placeholder="Mot de passe">
                                </div>

                                <div class="form-group">
                                    <input type="password" name="confirmation" ng-model="vm.user.confirmation" class="form-control" placeholder="Confirmez votre mot de passe">
                                </div>

                                <div class="checkbox" ng-if="vm.isPatient">
                                    <label>
                                        <input type="checkbox" ng-model="vm.user.receiveBroadcast"> Je souhaite être averti en cas de désistement.
                                    </label>
                                </div>

                                <div>
                                    <button class="btn btn-log" ng-click="vm.updateUser(vm.user.id, vm.user)" type="submit">
                                        Modifier mes informations
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
