<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-icon">
                            <span class="fa fa-4x fa-sign-in"></span>
                        </div>
                        <div class="info">
                            <h4 class="text-center">Réinitialiser mon mot de passe</h4>
                            <form class="form" name="form" >

                                <div class="form-group">
                                    <input type="password" name="password" ng-model="vm.newPassword" class="form-control" placeholder="Nouveau mot de passe">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirmation" ng-model="vm.newPasswordConfirmation" class="form-control" placeholder="Confirmation">
                                </div>

                                <div>
                                    <button class="btn btn-log" type="submit" ng-click="vm.resetPassword()">
                                        Envoyer
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

