<section class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-icon">
                            <span class="fa fa-4x fa-sign-in"></span>
                        </div>
                        <div class="info">
                            <h4 class="text-center">Sign Up</h4>

                            <form class="form" name="form" >

                                <div class="form-group">
                                    <input type="text" name="firstName" ng-model="vm.newPatient.firstName" class="form-control" placeholder="Prénom">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="lastName" ng-model="vm.newPatient.lastName" class="form-control" placeholder="Nom de famille">
                                </div>

                                <div class="form-group">
                                    <input type="email" name="email" ng-model="vm.newPatient.email" class="form-control" placeholder="Email">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="mobilePhone" ng-model="vm.newPatient.mobilePhone" class="form-control" placeholder="Numéro de téléphone mobile">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="phone" ng-model="vm.newPatient.phone" class="form-control" placeholder="Numéro de téléphone fixe">
                                </div>

                                <div class="form-group">
                                    <input type="date" name="dateOfBirth" ng-model="vm.newPatient.dateOfBirth" class="form-control" placeholder="Date de naissance">
                                </div>

                                <div class="form-group">
                                    <input type="text" name="address" ng-model="vm.newPatient.address" class="form-control" placeholder="Adresse">
                                </div>

                                <div>
                                    <button class="btn btn-log" ng-click="vm.addPatient(vm.newPatient)" type="submit">
                                        Créer mon compte
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
