<section id="patient-view" class="mainbar">
    <section class="matter">
        <div class="container">
        <h1>Mes rendez-vous</h1>
        <div ng-repeat="appointment in vm.appointments">
            <span ng-switch="$index % 4">
              <div class="row" ng-switch-when="0">
                  <div class="col-sm-3" ng-if="vm.appointments[$index+0]">
                      <a type="button" class="close-thumb" ng-if="vm.appointments[$index+0].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.appointments[$index+0].id)">&times;</a>
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.appointments[$index+0].startDate | date:"dd/MM/yyyy 'à' H'h'mm" }}</h3>
                              <address>
                                  <strong>{{vm.appointments[$index+0].doctor.name}}</strong><br>
                                  {{vm.appointments[$index+0].doctor.address}}
                                  <abbr title="Phone">P:</abbr> {{vm.appointments[$index+0].doctor.phone}}
                              </address>
                              <div ng-switch="vm.appointments[$index+0].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.appointments[$index+0].id)">CONFIRMER LE RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+0].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+0].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.appointments[$index+1]">
                      <a type="button" class="close-thumb" ng-if="vm.appointments[$index+1].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.appointments[$index+1].id)">&times;</a>
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.appointments[$index+1].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.appointments[$index+1].doctor.name}}</strong><br>
                                  {{vm.appointments[$index+1].doctor.address}}
                                  <abbr title="Phone">P:</abbr> {{vm.appointments[$index+1].doctor.phone}}
                              </address>
                              <div ng-switch="vm.appointments[$index+1].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.appointments[$index+1].id)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+1].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+1].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.appointments[$index+2]">
                      <a type="button" class="close-thumb" ng-if="vm.appointments[$index+2].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.appointments[$index+2].id)">&times;</a>
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.appointments[$index+2].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.appointments[$index+2].doctor.name}}</strong><br>
                                  {{vm.appointments[$index+2].doctor.address}}
                                  <abbr title="Phone">P:</abbr> {{vm.appointments[$index+2].doctor.phone}}
                              </address>
                              <div ng-switch="vm.appointments[$index+2].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.appointments[$index+2].id)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+2].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+2].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.appointments[$index+3]">
                      <a type="button" class="close-thumb" ng-if="vm.appointments[$index+3].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.appointments[$index+3].id)">&times;</a>
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.appointments[$index+3].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.appointments[$index+3].doctor.name}}</strong><br>
                                  {{vm.appointments[$index+3].doctor.address}}
                                  <abbr title="Phone">P:</abbr> {{vm.appointments[$index+3].doctor.phone}}
                              </address>
                              <div ng-switch="vm.appointments[$index+3].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.appointments[$index+3].id)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+3].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+3].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
              </div>
            </span>
        </div>
    </div>
        <div class="container">
            <h1>Rendez-vous diffusés</h1>
            <div ng-repeat="appointment in vm.broadcastedAppointments">
            <span ng-switch="$index % 4">
              <div class="row" ng-switch-when="0">
                  <div class="col-sm-3" ng-if="vm.broadcastedAppointments[$index+0]">
                      <a type="button" class="close-thumb" ng-if="vm.broadcastedAppointments[$index+0].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.broadcastedAppointments[$index+0].id)">&times;</a>
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.broadcastedAppointments[$index+0].startDate | date:"dd/MM/yyyy 'à' H'h'mm" }}</h3>
                              <address>
                                  <strong>{{vm.broadcastedAppointments[$index+0].doctor.name}}</strong><br>
                                  {{vm.broadcastedAppointments[$index+0].doctor.address}}
                                  <abbr title="Phone">P:</abbr> {{vm.broadcastedAppointments[$index+0].doctor.phone}}
                              </address>
                              <div ng-switch="vm.broadcastedAppointments[$index+0].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.broadcastedAppointments[$index+0].id)">CONFIRMER LE RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.broadcastedAppointments[$index+0].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.broadcastedAppointments[$index+0].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.broadcastedAppointments[$index+1]">
                      <a type="button" class="close-thumb" ng-if="vm.broadcastedAppointments[$index+1].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.broadcastedAppointments[$index+1].id)">&times;</a>
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.broadcastedAppointments[$index+1].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.broadcastedAppointments[$index+1].doctor.name}}</strong><br>
                                  {{vm.broadcastedAppointments[$index+1].doctor.address}}
                                  <abbr title="Phone">P:</abbr> {{vm.broadcastedAppointments[$index+1].doctor.phone}}
                              </address>
                              <div ng-switch="vm.broadcastedAppointments[$index+1].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.broadcastedAppointments[$index+1].id)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.broadcastedAppointments[$index+1].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.broadcastedAppointments[$index+1].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.broadcastedAppointments[$index+2]">
                      <a type="button" class="close-thumb" ng-if="vm.broadcastedAppointments[$index+2].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.broadcastedAppointments[$index+2].id)">&times;</a>
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.broadcastedAppointments[$index+2].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.broadcastedAppointments[$index+2].doctor.name}}</strong><br>
                                  {{vm.appointments[$index+2].doctor.address}}
                                  <abbr title="Phone">P:</abbr> {{vm.broadcastedAppointments[$index+2].doctor.phone}}
                              </address>
                              <div ng-switch="vm.broadcastedAppointments[$index+2].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.broadcastedAppointments[$index+2].id)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.broadcastedAppointments[$index+2].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.broadcastedAppointments[$index+2].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.broadcastedAppointments[$index+3]">
                      <a type="button" class="close-thumb" ng-if="vm.broadcastedAppointments[$index+3].state === 'denied'" ng-really-click="vm.deleteAppointment(vm.broadcastedAppointments[$index+3].id)">&times;</a>
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.broadcastedAppointments[$index+3].startDate | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.broadcastedAppointments[$index+3].doctor.name}}</strong><br>
                                  {{vm.broadcastedAppointments[$index+3].doctor.address}}
                                  <abbr title="Phone">P:</abbr> {{vm.broadcastedAppointments[$index+3].doctor.phone}}
                              </address>
                              <div ng-switch="vm.broadcastedAppointments[$index+3].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.broadcastedAppointments[$index+3].id)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.broadcastedAppointments[$index+3].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.broadcastedAppointments[$index+3].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
              </div>
            </span>
            </div>
        </div>
    </section>
</section>
