<section id="patient-view" class="mainbar">
    <section class="matter">
        <div class="container">
        <h1>Mes rendez-vous</h1>
        <div ng-repeat="appointment in vm.appointments | orderBy: 'start'">
            <span ng-switch="$index % 4">
              <div class="row" ng-switch-when="0">
                  <div class="col-sm-3" ng-if="vm.appointments[$index+0]">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.appointments[$index+0].start | date:"dd/MM/yyyy 'à' H'h'mm" }}</h3>
                              <address>
                                  <strong>{{vm.appointments[$index+0].doctor.lastName}}</strong><br>
                                  {{vm.appointments[$index+0].doctor.address}}<br />
                                  <abbr title="Téléphone">Tel:</abbr> {{vm.appointments[$index+0].doctor.phone}}
                              </address>
                              <div ng-switch="vm.appointments[$index+0].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.appointments[$index+0].id,0)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+0].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+0].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.appointments[$index+1]">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.appointments[$index+1].start | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.appointments[$index+1].doctor.lastName}}</strong><br>
                                  {{vm.appointments[$index+1].doctor.address}}<br />
                                  <abbr title="Téléphone">Tel:</abbr> {{vm.appointments[$index+1].doctor.phone}}
                              </address>
                              <div ng-switch="vm.appointments[$index+1].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.appointments[$index+1].id,0)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+1].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+1].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.appointments[$index+2]">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.appointments[$index+2].start | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.appointments[$index+2].doctor.lastName}}</strong><br>
                                  {{vm.appointments[$index+2].doctor.address}}<br />
                                  <abbr title="Téléphone">Tel:</abbr> {{vm.appointments[$index+2].doctor.phone}}
                              </address>
                              <div ng-switch="vm.appointments[$index+2].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.appointments[$index+2].id,0)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+2].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+2].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.appointments[$index+3]">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.appointments[$index+3].start | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.appointments[$index+3].doctor.lastName}}</strong><br>
                                  {{vm.appointments[$index+3].doctor.address}}<br />
                                  <abbr title="Téléphone">Tel:</abbr> {{vm.appointments[$index+3].doctor.phone}}
                              </address>
                              <div ng-switch="vm.appointments[$index+3].state">
                                  <button class="alert alert-warning" role="button" ng-switch-when="pending" ng-click="vm.open(vm.appointments[$index+3].id,0)">CONFIRMER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-success" ng-switch-when="approved">RENDEZ-VOUS CONFIRMÉ</div>
                                  <div class="alert alert-danger" ng-switch-when="denied">RENDEZ-VOUS ANNULÉ</div>
                              </div>
                              <button type="button" class="cancel-button btn btn-danger btn-lg btn-block" ng-if="vm.appointments[$index+3].state !== 'denied'" ng-really-click="vm.cancelAppointment(vm.appointments[$index+3].id)">ANNULER RENDEZ-VOUS ?</button>
                          </div>
                      </div>
                  </div>
              </div>
            </span>
        </div>
    </div>
        <div class="container">
            <h1>Rendez-vous proposés</h1>
            <div ng-repeat="appointment in vm.broadcastedAppointments">
            <span ng-switch="$index % 4">
              <div class="row" ng-switch-when="0">
                  <div class="col-sm-3" ng-if="vm.broadcastedAppointments[$index+0]">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.broadcastedAppointments[$index+0].start | date:"dd/MM/yyyy 'à' H'h'mm" }}</h3>
                              <address>
                                  <strong>{{vm.broadcastedAppointments[$index+0].doctor.lastName}}</strong><br>
                                  {{vm.broadcastedAppointments[$index+0].doctor.address}}<br />
                                  <abbr title="Téléphone">Tel:</abbr> {{vm.broadcastedAppointments[$index+0].doctor.phone}}
                              </address>
                              <div ng-switch="vm.broadcastedAppointments[$index+0].state">
                                  <button class="alert alert-success" role="button" ng-switch-when="pending" ng-click="vm.open(vm.broadcastedAppointments[$index+0].id,1)">ACCEPTER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-danger" ng-switch-when="approved">RENDEZ-VOUS OCCUPÉ</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.broadcastedAppointments[$index+1]">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.broadcastedAppointments[$index+1].start | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.broadcastedAppointments[$index+1].doctor.lastName}}</strong><br>
                                  {{vm.broadcastedAppointments[$index+1].doctor.address}}<br />
                                  <abbr title="Téléphone">Tel:</abbr> {{vm.broadcastedAppointments[$index+1].doctor.phone}}
                              </address>
                              <div ng-switch="vm.broadcastedAppointments[$index+1].state">
                                  <button class="alert alert-success" role="button" ng-switch-when="pending" ng-click="vm.open(vm.broadcastedAppointments[$index+1].id,1)">ACCEPTER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-danger" ng-switch-when="approved">RENDEZ-VOUS OCCUPÉ</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.broadcastedAppointments[$index+2]">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.broadcastedAppointments[$index+2].start | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.broadcastedAppointments[$index+2].doctor.lastName}}</strong><br>
                                  {{vm.appointments[$index+2].doctor.address}}<br />
                                  <abbr title="Téléphone">Tel:</abbr> {{vm.broadcastedAppointments[$index+2].doctor.phone}}
                              </address>
                              <div ng-switch="vm.broadcastedAppointments[$index+2].state">
                                  <button class="alert alert-success" role="button" ng-switch-when="pending" ng-click="vm.open(vm.broadcastedAppointments[$index+2].id,1)">ACCEPTER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-danger" ng-switch-when="approved">RENDEZ-VOUS OCCUPÉ</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-3" ng-if="vm.broadcastedAppointments[$index+3]">
                      <div class="thumbnail">
                          <div class="caption">
                              <h3>{{vm.broadcastedAppointments[$index+3].start | date:"dd/MM/yyyy 'à' H'h'mm"}}</h3>
                              <address>
                                  <strong>{{vm.broadcastedAppointments[$index+3].doctor.lastName}}</strong><br>
                                  {{vm.broadcastedAppointments[$index+3].doctor.address}}<br />
                                  <abbr title="Téléphone">Tel:</abbr> {{vm.broadcastedAppointments[$index+3].doctor.phone}}
                              </address>
                              <div ng-switch="vm.broadcastedAppointments[$index+3].state">
                                  <button class="alert alert-success" role="button" ng-switch-when="pending" ng-click="vm.open(vm.broadcastedAppointments[$index+3].id,1)">ACCEPTER RENDEZ-VOUS ?</button>
                                  <div class="alert alert-danger" ng-switch-when="approved">RENDEZ-VOUS OCCUPÉ</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </span>
            </div>
        </div>
    </section>
</section>
